{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head> <meta charset="UTF-8">
    <!-- chemin vers la page css -->
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <title>Extractions de données</title>
    <img src="background4.jpg" alt="marque" width="40" height="40" class="logo">
    <p> </p>
    <img src="ESME-logo(2).png" alt="logo de l'école" width="40" height="40" class="esme">
</head>
<body>
<div class="emplacement_total">
    <div>
        <section class="pro">
            <div class="mot">
                <div> <h1 style="margin-bottom: 10px; line-height: 1;"> REO </h1> </div>
                <div> <h2 style="margin-bottom: 0; line-height: 1;"> Automatisation </h2> </div>
                <div> <h3 style="line-height: 0;"> Traitement </h3> </div>
                <div> <h4 style="margin-top: 0;"> Document </h4> <p> Extraire des informations grâce à l'IA </p> </div>
                <div> <img src="background1" alt="photo principale" width="750" height="300" class="photo"> </div>
                <div> <p><a href="defilement.html"> Aller directement à la page d'extraction de données! </a> </p> </div>
            </div>
        </section>
    </div>
</div>
<p> </p>
<iframe id="details" src="defilement.html" width="40" height="30"> </iframe>
</body>

</html>