<!-- affiche.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- chemin vers la page css -->
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
    <title>Tableau(x) extrait(s)</title>
</head>
<body>
    <p> <a href="formulaire.html"> Retour </a> </p>
    <p> <a href="/"> Revenir à la page d'accueil </a> </p>

    <p><h1>Voici le(s) tableau(x) extrait(s)</h1></p>
    <p> L'url saisie est : </p>

    <div id="display"></div>
        <script>
            var URL = localStorage.getItem("url");
            document.getElementById("display").innerHTML = URL;
        </script>

    <p>
    {% if table_data %}
        <table>
            {% for row in table_data %}
                <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    </p>

    <p><input type="button" class="bouton" value="Appuyez ici pour afficher le graphique" onclick = "validerFormulaire()"/></p>

</body>

   <script>
        function validerFormulaire() {
                window.location.href = "graph.html";
    }
    </script>

</html>
