<!-- affiche.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- chemin vers la page css -->
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
    <title>Tableau(x) extrait(s)</title>
</head>
<body>
    <p> <a href="formulaire.html"> Retour </a> </p>
    <p> <a href="/"> Revenir à la page d'accueil </a> </p>

    <p><h1>Voici le(s) tableau(x) extrait(s)</h1></p>

    <div id="display"></div>

    <p>
    {% if tables %}
		<h2>Tables found:</h2>
		{% for table in tables %}
			<table>
				{% for row in table %}
					<tr>
						{% for cell in row %}
							{% if forloop.first %}
								<th>{{ cell }}</th>
							{% else %}
								<td>{{ cell }}</td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		{% endfor %}
	{% endif %}
    </p>

    <p><input type="button" class="bouton" value="Appuyez ici pour afficher le graphique" onclick = "validerFormulaire()"/></p>

</body>

   <script>
        function validerFormulaire() {
                window.location.href = "graph.html";
    }
    </script>

</html>
