{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
    <title>Extractions de données</title>
    <img src="{% static 'ESME-logo(2).png' %}" width="60" height="60" style="float: right;">

</head>
<body>

    <div style="background-image: url('{% static 'background4.jpg' %}'); width: 100%; height: 913px;">
        <div style="text-align: center; display: flex; flex-direction: column; justify-content: center; height: 99vh;">
            <p><h1> Commencez à extraire des données à partir d'url en <a href="formulaire.html"> cliquant ici!!</a> </h1></p>
            <p><h1> Commencez à extraire des données à partir de fichier Word en <a href="word.html"> cliquant ici!!</a> </h1></p>
            <p><h1> Commencez à extraire des données à partir de fichier PDF en <a href="pdf.html"> cliquant ici!!</a> </h1></p>
        </div>
    </div>

</body>



</html>