{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- chemin vers la page css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<meta charset="UTF-8">
	<title>Extraction de données</title>

</head>

<body>

    <div style="text-align: center; float: right; width: 100%;">
        <p> <a href="defilement.html"> Retour </a> </p>
        <p><a href="/">Accueil</a></p>

        <h1 style="font-size: 100px; margin-top: 300px; line-height: 0.5;">
            <span style="color: blue;">P</span>
            <span style="color:teal;">a</span>
            <span style="color: yellowgreen;">g</span>
            <span style="color: orange;">e</span>
            <span style="color: orange;">&nbsp;</span>
            <span style="color: red">d</span>
            <span style="color: brown">'</span>
            <span style="color: blue">e</span>
            <span style="color: teal">x</span>
            <span style="color: yellowgreen">t</span>
            <span style="color: orange">r</span>
            <span style="color: red;">a</span>
            <span style="color:brown;">c</span>
            <span style="color: blue;">t</span>
            <span style="color: teal;">i</span>
            <span style="color: yellowgreen">o</span>
            <span style="color: orange">n</span>
        </h1>

        <form method="POST" name="formulaire">
            {% csrf_token %}
            <label for="url">URL:</label>
            <input type="search" name="url" id="url" placeholder="Entrez l'url ici">
            <button type="submit" onclick = "validerFormulaire()">Extraire le(s) tableau(x) </button>
        </form>
    </div>

    <script>

        function validerFormulaire() {

            var url = document.getElementById("url").value;
            var regexp = /^(ftp|http|https):\/\/[^ "]+$/;
            if (url == "") {
                alert("Veuillez saisir une URL");
            } else if (!regexp.test(url)) {
                alert("Veuillez entrer une URL valide");
            } else {
                // Redirection vers la nouvelle page
                window.location.href = "success.html";
            }
        }

    </script>

</body>
</html>
