{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
   <!-- chemin vers la page css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Extraction de données</title>
</head>

    <div style="text-align: center; float: right; width: 100%;">
        <h1 style="font-size: 100px; margin-top: 300px; line-height: 0.5;">
            <span style="color: blue;">P</span>
            <span style="color:teal;">a</span>
            <span style="color: yellowgreen;">g</span>
            <span style="color: orange;">e</span>
            <span style="color: orange;">&nbsp;</span>
            <span style="color: red">d</span>
            <span style="color: brown">'</span>
            <span style="color: blue">e</span>
            <span style="color: teal">x</span>
            <span style="color: yellowgreen">t</span>
            <span style="color: orange">r</span>
            <span style="color: red;">a</span>
            <span style="color:brown;">c</span>
            <span style="color: blue;">t</span>
            <span style="color: teal;">i</span>
            <span style="color: yellowgreen">o</span>
            <span style="color: orange">n</span>
        </h1>

        <form method='POST'>
            {% csrf_token %}
            <input type="file" id="docx_file"/>
            <button type="submit" onclick = "validerFormulaireW()">Extraire le(s) tableau(x) </button>
        </form>

        <p style="line-height: 2px"> <a href="defilement.html"> Retour </a> <br><br> </p>
        <a href="/">Accueil</a>
    </div>

</body>

    <script>
        function validerFormulaireW() {
            var docx_file = document.getElementById("docx_file").value;
            // Si le champ est rempli, soumettre le formulaire
            if (docx_file == "") {
                alert("Veuillez sélectionner un fichier .docx");
                window.location.href = "word.html";
            } else {
				// Redirection vers la nouvelle page
                window.location.href = "tableauWord.html";
        }
    }
    </script>

</html>